<h1>PlantTags#new</h1>
<p>Find me in app/views/plant_tags/new.html.erb</p>

<%= simple_form_for([@plant, @plant_tag]) do |f| %>
  <%= f.input :tag, collection: @tags %>
  <%= f.button :submit %>
<% end %>